body {
  font-family: "Nunito", sans-serif;
}

img {
  height: auto;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .bi {
    width: 25% !important;
    right: 18vw !important;
  }

  .fogo {
    width: 39% !important;
    left: 18vw !important;
    bottom: 2vw !important;
  }
}

@media only screen and (max-width: 1400px) {
  .fogo {
    bottom: 2vw !important;
  }
}

.container {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

.bi {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  z-index: 2;
}

.fogo {
  width: 23%;
  left: 11vw;
  bottom: 3vh;
  z-index: 1;
  -webkit-animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bi-animation {
  -webkit-animation: slide-in-tr-with-spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-tr-with-spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bi-spin {
  -webkit-animation: spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: spin 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}